

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <img src='/assets/catchcopy2.png' />
  <br></br>
  <img src='/assets/IMG_3573.png', width="300",height="260" />
  <br></br>
  <img src='/assets/logo.png' />
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Tsukutta!とは作った料理を記録し、簡単に検索できるサービスです。</h3>
  <p>仕事帰りに今日の夕飯は何を作ろうと頭を悩ませていませんか？自分が以前作った料理なら新しい料理を作るよりもずっと楽です。</p>
  
  <p>料理を作った時に記録をし、次回検索できるようにしましょう！</p>
  <%= link_to "新規登録（無料）はこちら", new_user_path, class: "glyphicon glyphicon-search" %>
</div>

