{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":22,"column":0},"end":{"row":22,"column":1},"action":"insert","lines":["/"],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":21,"column":0},"end":{"row":22,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":57,"mode":"ace/mode/ini"}},"timestamp":1544191525849,"hash":"8b919dd7ed016ea90364d77183227b0a4819f13e"}