{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":22,"column":0},"end":{"row":22,"column":1},"action":"insert","lines":["/"],"id":4}],[{"start":{"row":22,"column":5},"end":{"row":23,"column":0},"action":"insert","lines":["",""],"id":5}],[{"start":{"row":23,"column":0},"end":{"row":23,"column":15},"action":"insert","lines":["/public/uploads"],"id":6}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":23,"column":15},"end":{"row":23,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1544354252320,"hash":"9ac13782764febcd5a0410d20969ed71a0ec714c"}