{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":21,"column":0},"end":{"row":21,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"3b478f0928fd4e25bfebf9ee7067fca0f848e526","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1541222187652}