
<!-- チュートリアルリスト13.22で追加 -->
<li id="post-<%= post.id %>">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    投稿しました！ <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>

<!-- チュートリアル１３．２２で追加 --!>

