



.posts_button {
    a {
        margin: 0 8px;
    }
}

.posts_table {
    tr:hover {
        cursor: pointer;
    }
}

// indexページのscss
.posts__searchForm {
  display: inline-block;
}




// 追加
.posts__select {
  display: inline-block;
  width: auto;
}

// 投稿ボタンを目立たせるため、追加

.btn-outline-info{
    font-size: 15px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    background-color:#ccf2ff;
    color: #000000;
}






