<%= stylesheet_link_tag 'base', :media => "all" %>

<!-- Footer -->

    
      <div class="navbar-footer">
          <p>サイト改善等ご要望は<%= link_to "こちら", root_path, class: "top_btn" %></p>
      </div>
    
